.contact_page{
    padding-top: 50px;
    width:80%;
    height: calc(100vh - 80px);
    margin: auto;
}
.admin_contact{
    display: flex;
    justify-content: space-around;
    height: 45px;    
}
.phone_number{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.number{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.email_id{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.email{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.home_address{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.address{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.message{
    width:90%;
    margin: auto;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.get_in_touch{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    padding-left:30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.user_identity{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:30px;
}
.user_message{
    padding-left: 30px;
    padding-right: 30px;
}
.collect_info{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 480px) and (max-height : 670px){
    .contact_page{
        padding-top: 0;
    }
    .admin_contact{
        flex-direction: column;
        justify-content: space-around;
        height:150px;
    }
    .phone_number{
        justify-content: flex-start;
        align-items: center;
    }
    .email_id{
        justify-content: flex-start;
        align-items: center;
    }
    .home_address{
        justify-content: flex-start;
        align-items: center;
    }
    .hidden{
        display: none;
    }
    .center_1{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    .message{
        width:90%;
        margin: auto;
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .get_in_touch{
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding-left:30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .user_identity{
        flex-direction: column;
        width:100%;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .user_name{
        margin-bottom: 5px;
    }
    .user_email{
        margin-bottom: 5px;
    }
    .collect_info{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 0px;
    }

}
@media (min-width: 320px) and (max-width: 480px) and (min-height: 671px) and (max-height : 741px){
    .contact_page{
        padding-top: 10px;
    }
    .admin_contact{
        flex-direction: column;
        justify-content: space-around;
        height:150px;
    }
    .phone_number{
        justify-content: flex-start;
        align-items: center;
    }
    .email_id{
        justify-content: flex-start;
        align-items: center;
    }
    .home_address{
        justify-content: flex-start;
        align-items: center;
    }
    .hidden{
        display: none;
    }
    .center_1{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    .message{
        width:90%;
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .get_in_touch{
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding-left:30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .user_identity{
        flex-direction: column;
        width:100%;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .user_name{
        margin-bottom: 10px;
    }
    .user_email{
        margin-bottom: 10px;
    }
    .user_message{
        padding-bottom: 10px;
    }
    .collect_info{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

}
@media (min-width: 320px) and (max-width: 480px) and (min-height : 741px) and (max-height : 920px){
    .contact_page{
        padding-top: 50px;
    }
    .admin_contact{
        flex-direction: column;
        justify-content: space-around;
        height:150px;
    }
    .phone_number{
        justify-content: flex-start;
        align-items: center;
    }
    .email_id{
        justify-content: flex-start;
        align-items: center;
    }
    .home_address{
        justify-content: flex-start;
        align-items: center;
    }
    .hidden{
        display: none;
    }
    .center_1{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    .message{
        width:90%;
        margin: auto;
        margin-top: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .get_in_touch{
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding-left:30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .user_identity{
        flex-direction: column;
        width:100%;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .user_name{
        margin-bottom: 20px;
    }
    .user_email{
        margin-bottom: 20px;
    }
    .user_message{
        padding-bottom: 20px;
    }
    .collect_info{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    
}
@media (min-width: 481px) and (max-width: 600px){
    .contact_page{
        padding-top: 10px;
    }
    .admin_contact{
        flex-direction: column;
        justify-content: space-around;
        height:150px;
    }
    .phone_number{
        justify-content: flex-start;
        align-items: center;
    }
    .email_id{
        justify-content: flex-start;
        align-items: center;
    }
    .home_address{
        justify-content: flex-start;
        align-items: center;
    }
    .hidden{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .center_1{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    .message{
        width:90%;
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .get_in_touch{
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding-left:30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .user_identity{
        flex-direction: column;
        width:100%;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .user_name{
        margin-bottom: 10px;
    }
    .user_email{
        margin-bottom: 10px;
    }
    .user_message{
        padding-bottom: 5px;
    }
    .collect_info{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
}
@media (min-width: 601px) and (max-width: 768px){
    .message{
        width:100%;
        margin: auto;
        margin-top: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 769px) and (max-width: 1025px){
    .message{
        width:80%;
        margin: auto;
        margin-top: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .get_in_touch{
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        padding-left:30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .user_name{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .user_email{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .user_message{
        padding-bottom: 10px;
    }
    .collect_info{
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

